body{
    background-color: blanchedalmond;
    font-family: 'Lucida Sans';
    margin: 0;
    align-items: center;
}

#canvas{
    background-color: aquamarine;
}

#canvas2{
    border: 1px solid black;
    background-color: white;
}